.maps{
    margin: -10px;
    padding: 2px;
    float: right;
    width: 900px;
    height: 250px;
}
.container-1{
    padding: 5px;
    margin:35px;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: deepskyblue;
    color: white;
    text-align: center;
}